.device-list {
    display: flex;
    flex-wrap: wrap;
}

.device-item {
    width: 200px;
    border: 2px solid #d8d8d8;
    border-radius: 5px;
    margin: 0 13px 20px 0;
    cursor: pointer;
    transition: all linear .2s;
    padding: 15px;

    &:hover {
        border-color: #ffda33;

    }

    &__img {
        margin-bottom: 10px;
        width: 160px;
        height: 190px;

        img {
            width: 100%;

        }
    }

    &__name {
        margin-bottom: 10px;
    }

    &__price {
        font-weight: 600;
        font-size: 1.6rem;
    }
}