.brand-bar {
    margin-bottom: 20px;
    display: flex;

    &__item {
        cursor: pointer;
        padding: 2px 10px;
        margin-right: 10px;
        border-radius: 5px;
        transition: all linear .2s;
    }
}